<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/fileinput.css" />
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div  id="yoAngularApp" ng-app="yoAngularApp">
    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">精点VR</a>
          </div>
          <div class="collapse navbar-collapse pull-right" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a ng-href="#/">主页</a></li>
              <li><a ng-href="#/project">项目管理</a></li>
              <li><a ng-href="#/scene">场景管理</a></li>
              <li><a href="#/user">个人中心</a></li>
              <li><a ng-href="#/info">登录/注册</a></li>
              <li><a ng-href="#/test">测试</a></li>
              <li><p data-toggle="#myModal" data-target="#myModal">33</p></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    <div ng-view=""></div>
      <!--<p><a class="btn btn-lg btn-success pull-right" data-toggle="modal" data-target="#myModal"-->
            <!--ng-click="modal='views/main.html'">1<span class="glyphicon glyphicon-plus"></span></a></p>-->
      <!--<p><a class="btn btn-lg btn-success pull-right" data-toggle="modal" data-target="#myModal"-->
            <!--ng-click="modal='views/about.html'">2<span class="glyphicon glyphicon-plus"></span></a></p>-->
    </div>


    <!--<div class="footer">-->
      <!--<div class="container">-->
        <!--<p><span class="glyphicon glyphicon-heart"></span>&nbsp;&nbsp;深圳精点科技</p>-->
      <!--</div>-->
    <!--</div>-->
      <div class="form-group">
        <label class="col-md-2 control-label">上传全景图</label>
        <div class="col-md-8">
          <!--<input id="file-5" class="file" name="proImg"  type="file" multiple data-preview-file-type="any" data-upload-url="/project/tImg" data-preview-file-icon="">-->
          <input id="file-5" class="file" name="proImg"  multiple type="file" data-preview-file-type="any"
                 data-upload-url="/index.php/Home/Index/img" data-preview-file-icon="">
        </div>
      </div>
    </div>

    <!--<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">-->
      <!--<div class="modal-dialog" style="width: 600px;">-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="false">×-->
            <!--</button>-->
            <!--<h4 class="modal-title" id="myModalLabel">-->
              <!--登录-->
            <!--</h4>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
            <!--&lt;!&ndash;<div ng-include='modal' scope="" onload=""></div>&ndash;&gt;-->
            <!--<div ng-include="'views/template/userLoginTemplate.html'"></div>-->
          <!--</div>-->
          <!--<div class="modal-footer ">-->
            <!--<button type="button" class="btn btn-primary">登录-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
              模态框（Modal）标题
            </h4>
          </div>
          <div class="modal-body">
            <ng-include src="'views/template/sceneAddTemplate.html'"></ng-include>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
              提交更改
            </button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal -->
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="scripts/resources/fileinput.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <!-- endbuild -->
    <!--<script>-->

    <!--</script>-->

    <script>
      $(function(){
        $(".file").fileinput({
          language: "zh",
          maxFileSize: 30240,
          uploadUrl:'/index.php/Home/Index/img',
          allowedFileExtensions: ["jpg","jpeg"],
          uploadAsync: true,
          showPreview: false,
          allowedFileExtensions : ['jpg', 'jpeg'],
          elErrorContainer: '#errorBlock'
        });
      });
    </script>
    <script>
//      $(function(){
//        $('#myModal').modal('sss');
//      });

//      $('#myModal').modal().show(false)

    </script>
</body>
</html>
