<!--<p><a class="btn btn-lg btn-success pull-right" data-toggle="modal" data-target="#myModal" ng-href="#/modalproject">新增项目<span class="glyphicon glyphicon-plus"></span></a></p>-->
<!--<body ng-app="proApp">-->
<!--<p><a class="btn btn-lg btn-success pull-right" data-toggle="modal" data-target="#myModal"-->
      <!--ng-click="modal='views/template/projectAddTemplate.html'">新增项目<span class="glyphicon glyphicon-plus"></span></a></p>-->
<p><a class="btn btn-lg btn-success pull-right" data-toggle="modal" data-target="#myModal"
      ng-click="modal='views/template/projectAddTemplate.html'">新增项目<span class="glyphicon glyphicon-plus"></span></a></p>
<!--<a class="btn btn-default pull-right" href="projectAdd.html">新增项目</a>-->
<table class="table table-striped" ng-controller="projectIndex">
    <thead>
    <tr>
        <th>楼盘名称</th>
        <th>省份</th>
        <th>区域</th>
        <th>楼盘类型</th>
        <th>楼盘状态</th>
        <th>楼盘价格</th>
        <th>楼盘图片</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="project in project">
        <td ng-hide="true">{{project.proid}} </td>
        <td>{{project.proname}}</td>
        <td>{{project.procity}}</td>
        <td>{{project.proarea}} </td>
        <td>{{project.proinsale}} </td>
        <td>{{project.prostate}} </td>
        <td>{{project.proprice}} </td>
        <td>{{project.proimg}} </td>
        <td class="do">
          <!--<a href="#">编辑</a><a href="#"></a><a href="#"></a><a href="/project/operation/delete/{{project.proId}}">删除</a>-->
          <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">管理</a>
          <!--<a class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">管理</a>-->
          <a class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal">预览</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
        </button>
        <h4 class="modal-title" id="myModalLabel">
          项目管理
        </h4>
      </div>
      <div class="modal-body">
        <!--<div ng-include='modal' scope="" onload=""></div>-->
        <div ng-include="'views/template/projectAddTemplate.html'"></div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-primary">添加
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="../scripts/resources/fileinput.js"></script>
<script>
  $(function () {
    $('#myModal').modal('hiden');
    $('#myModal').on('hide.bs.modal', function () {
    });
    $(".file").fileinput({
      language: "zh",
      maxFileSize: 30240,
      uploadUrl:'/index.php/Home/Index/img',
      allowedFileExtensions: ["jpg","jpeg"],
      uploadAsync: true,
      showPreview: false,
      allowedFileExtensions : ['jpg', 'jpeg'],
      elErrorContainer: '#errorBlock'
    });

  });
</script>
<!--</body>-->
