<!--<div class="container" ng-app="op">-->
   <!--&lt;!&ndash;<div ng-model="ol"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div ng-include="'template/userLoginTemplate.html'"></div>&ndash;&gt;-->
  <!--<p><a class="btn btn-lg btn-success pull-right" data-toggle="modal" data-target="#userModal"-->
        <!--ng-click="goModal(9090)">登录<span class="glyphicon glyphicon-plus"></span></a></p>-->
<!--</div>-->
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Modal Header</h3>
  </div>
  <div class="modal-body">
    Hello world!
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
